// Thin Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Thin.otf');
  font-weight: 100;
}
// Extralight Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Extralight.otf');
  font-weight: 200;
}
// Light Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Light.otf');
  font-weight: 300;
}
// Regular Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Regular.otf');
  font-weight: 400;
}
// Medium Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Medium.otf');
  font-weight: 500;
}
// SemiBold Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Semibold.otf');
  font-weight: 600;
}
// Bold Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Bold.otf');
  font-weight: 700;
}
// ExtraBold Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Extrabold.otf');
  font-weight: 800;
}
// Black Font
@font-face {
  font-family: altavia;
  src: url('../fonts/Graphik/Graphik-Black.otf');
  font-weight: 900;
}