.footer{
  background-color: $color-black;
  color: $color-white;
  .wrapper{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: "logo info contact"
    "social info contact";
    gap: 1rem;
  }
}
.footer{
  &__logo{
    grid-area: logo;
  }
  &__info{  
    grid-area: info;
    h2{
      font-size: 1rem;
      font-weight: 700;
      margin-top: 0;
    }
    p{
      font-size: 0.875rem;
      line-height: 1.188rem;
    }
    p:nth-of-type(2){
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
    a{
      width: fit-content;
    }
  }
  &__social{
    grid-area: social;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }
  &__contact{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div{
      display: flex;
      align-items: center;
      gap: 1rem;
      img{
        width: 25px;
        height: 25px;
      }
    }
  }
}
.copyright{
  background-color: black;
  color: white;
  padding: 1.5rem 0.5rem;
  small{
  display: flex;
    span{
    margin-right: auto;
    }
  }
}
.footer__nav{
  display: flex;
  a{
    margin-left: 1rem;
  }
  a:nth-of-type(6){
    margin-left: 3rem;
  }
}
@include tablet{
  .footer{
    .wrapper{
      grid-template-areas: "logo social"
      "info social"
      "contact contact";
    }
  }
  .footer{
    &__logo{
      grid-area: logo;
    }
    &__info{  
      grid-area: info;
    }
    &__social{
      grid-area: social;
      display: flex;
      flex-direction: column;
    }
    &__contact{
      grid-area: contact;
    }
  }
  .footer__nav{
    display: none;
  }
}

.footer{
  a{
    &:hover{
      color: $color-blue;
    }
  }
}
.copyright{
  a{
    &:hover{
      color: $color-blue;
    }
  }
}