.fp-sr-only{
  overflow: visible;
}
#fp-nav ul li a span{
  border-radius: 0;
  &:hover{
    border-radius: 0;
  }
}
#fp-nav ul li a, .fp-slidesNav ul li a {
  height: 4rem;
}
#fp-nav ul li a.active span{
  height: 4rem;
}
#fp-nav.fp-right {
  right: 2rem;
}
#fp-nav ul li, .fp-slidesNav ul li {
  width: 0.3rem;
  height: 4rem;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 100%;
  width: 0.3rem;
  margin: -32px 0 0 -2px;
  border-radius: 0;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 0;
  position: absolute;
  z-index: 1;
  height: 40%;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all .1s ease-in-out;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 0.3rem;
  height: 100%;
  margin: -30px 0 0 -2px;
}