// Light || Dark Theme Colors
.dark__light{
  position: fixed;
  top: 90px;
  right: 2rem;
  cursor: pointer;
  z-index: 51;
  svg{
    width: fit-content;
    height: fit-content;
  }
}

// General
body{
  font-family: $altavia-font;
  scroll-behavior: smooth;
}
.wrapper{
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  @include laptop{
    padding: 0 4rem;
  }
}
a{
  text-decoration: none;
  color: inherit;
  @include trans(.3s);
}
.color-blue{
  color: #41D1B9;
}