.header{
  background-color: var(--color-page-background);
  color: var(--color-text);
  position: relative;
  &__content{
    h1{
      font-weight: 700;
      font-size: 3.75rem;
      width: 700px;
      @include tabletLarge{
        width: 100%;
        padding: 0 2rem 0 0;
        font-size: 3rem;
      }
      @include tablet{
        span:nth-of-type(1){
          display: block;
        }
      }
      span:nth-of-type(2){
        display: block;
        color: $color-blue;
      }
    }
    p{
      width: 700px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.625rem;
      @include tabletLarge{
        width: 100%;
        padding: 0 2rem 0 0;
      }
    }
  }
  &__cta{
    width: fit-content;
    display: block;
    div{
      display: flex;
      align-items: center;
      gap: 1.875rem;
      font-weight: 600;
      font-size: 1.375rem;
    }
  }
}

// Socials and Page Scroll
.social{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  a{
    margin-right: 3.125rem;
    img{
      width: 25px;
      height: 25px;
    }
  }
}
@media screen and (max-height: 825px){
  .discover .social{
    display: none;
  }
  .service .social{
    display: none;
  }
  .client .social{
    display: none;
  }
}
@include tablet{
  .header .social{
    bottom: -4rem;
    left: 4rem;
  }
  .discover .social{
    display: none;
  }
  .service .social{
    display: none;
  }
  .client .social{
    display: none;
  }
}
.page__down{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  @include tablet{
    bottom: -5rem;
    right: 4rem;
  }
}
.client{
  .page__down{
    transform: rotate(180deg);
  }
}