// Font

// Light || Dark Theme Colors
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-gray-light: rgba($color-white, .15);
$color-gray-dark: rgba($color-black, .15);
:root {
  --color-page-background: #{$color-white};
  --color-text: #{$color-black};
}
.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
}
body {
  background-color: var(--color-page-background);
  color: var(--color-text);
}

