// Font

// Light || Dark Theme Colors
$color-black: #232323;
$color-white: white;
$color-blue: #41D1B9;
$color-grey: #D5D9DC;

:root {
  --color-page-background: #{$color-white};
  --color-text: #{$color-black};
}
.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
}
body {
  background-color: var(--color-page-background);
  color: var(--color-text);
}

